.large-cell, .btn.btn-link {
    font-size: 18px;  /* or whatever font size you want */
    padding: 10px;   /* add more padding */
    text-align: justify; /* optional: to align text */
}

/* table {
    table-layout: fixed;
} */

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead th {
    background-color: #0056b3;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.table tbody tr {
    transition: background-color 0.3s;
}

.table tbody tr:nth-child(even) {

}

.table tbody tr:hover {

}

.table td, .table th {
    padding: 10px;
    border: 1px solid #e0e0e0;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

.container {
    font-family: Arial, sans-serif;
}
tbody {
    background-color: #ccc;
}
