.titleLogoContainer {
    display: flex;
    align-items: center; /* This will vertically align the logo and title */
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adds some space between the logo and the title */
}

.logo img {
    max-width: 100%; 
    max-height: 100px; 
}

.title {
    font-family: 'SF FONT bold', Arial, sans-serif;
    color: #3b9da6;
    padding: 20px;
    font-size: 46px;
}


/* You can keep your media queries but make sure to update them with the changes made above. */
/* For example, remove any 'top' or 'left' properties and update as needed. */

@media screen and (max-width: 950px) {
    .page {
        margin-left: 5px;
        margin-right: 5px;
    }

    .logo {
        top: 0cqi;
        left: 20px;
    }
    /* 在小屏幕上进一步缩小logo图像 */
    .logo img {
        max-height: 100px; /* 图像高度最大不超过80像素 */
    }
    .title {
        font-size: 28px;
        top: 30px;
        left: 140px;
    }
}

@media screen and (max-width: 600px) {
    .page {
        margin-left: 5px;
        margin-right: 5px;
    }

    .logo {
        top: 5px;
        left: 5px;
    }

    /* 在小屏幕上进一步缩小logo图像 */
    .logo img {

        max-width: 50%; /* 图像高度最大不超过80像素 */
    }

    .title {
        font-size: 25px;
        top: 0px;
        left: 70px;
    }
}

@media screen and (max-width: 500px) {
    .page {
        margin-left: 5px;
        margin-right: 5px;
    }

    .logo {
        top: 5px;
        left: 5px;
    }

    /* 在小屏幕上进一步缩小logo图像 */
    .logo img {
        max-width: 40%; /* 图像高度最大不超过80像素 */
    }

    .title {
        font-size: 15px;
        top: 0px;
        left: 50px;
    }
    
}